@import 'menu.css';
@import 'viewport.css';

body {
    margin: 0;
    padding: 0;
    background: #333;
}

#container {
    display: block;
    color: #FFF;
    font-size: 100%;
    background: #000;
}
