#main-menu {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#main-menu li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: rgba(200, 66, 148, 1);
    box-shadow: 5px 5px 2px 0px rgba(200, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px 10px 10px 10px;
}